
<div class="container">
  <div class="row">
  <% @products.each do |pro| %>
  <div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= pro.name%></h5>
    <p class="card-text"><%= pro.description %></p>
    <p class="card-text">Price : <%= pro.current_price %></p>
    <a href="#" class="btn btn-primary">BUY</a>
    <%= link_to  "Add To Cart",new_customer_cart_path(product_id:pro.id,price:pro.current_price), class:"btn btn-primary" %>
      <%if current_user.likes.find_by(product: @product).nil?%>
<form action="/likes" method = "product">
    <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
   <input type = "hidden" name = "like[product_id]" value = "<%= @product_id%>">
    <input type = "submit" value = "Like">
    </form>
<%else%>
unlike
<%end%>


  </div>
</div>
</div>
  <% end %>   
  </div>
</div>