
<h2>
              <%= @product.name %>
    </h2><h2>
              <%= @product.current_price %>
    </h2><h2>
              <%= @product.actual_price %>
    </h2><h2>
              <%= @product.description %>
    </h2>
    
    <img src=<%=(url_for(@product.image))%>>